
*.pyc
*.pyc
*.pyc
fan_log.txt
temperature_log.txt
temperature_log.txt
temperature_log.txt
__pycache__/DHT11.cpython-37.pyc
__pycache__/Max6675K.cpython-37.pyc
__pycache__/Max6675K.cpython-37.pyc
__pycache__/DHT11.cpython-37.pyc
humidity_log.txt
test.txt
test.txt
*.txt
